<div class="container">
  <h1> Change Your password </h1>

  <%= form_tag(submit_password_user_path(@user)) do %>
    <div>
      <%= label_tag "Current Password" %>
      <%= password_field_tag :current_password, "", required: true %>
    </div>
    <div>
      <%= label_tag "New Password" %>
      <%= password_field_tag :new_password, "", required: true %>
    </div>

    <div>
      <%= submit_tag "Update Password", class: "button" %>
      <%= link_to "Back", edit_user_path(@user), class: "button" %>
    </div>
  <% end %>
</div>
